.sbm_home {
  background-color: #4D1731;
  background-image: url(../img/pic1_1.jpg);
  background-position: center;
  background-size: auto 100%;
}
.sbm_home .home_top {
  width: 100%;
  position: fixed;
  top: 8px;
  left: 0px;
  text-align: right;
}
.sbm_home .home_top .button {
  background-color: transparent;
  border: none;
  color: #fff;
}
.sbm_home .home_top .button .iconfont {
  font-size: 28px;
}
@-webkit-keyframes upup {
  0% {
    -webkit-transform: translateY(100%);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}
.sbm_home .home_bottom {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 5px 5px 0 5px;
  -webkit-animation: upup 1s;
}
.sbm_home .home_bottom .startbutton {
  font-size: 24px;
  height: 14vh;
  line-height: 14vh;
  margin: 5px 0 0 0;
}
.sbm_home .home_bottom .startbutton span.text {
  margin-right: 10px;
}
.sbm_home .home_bottom .startbutton i.icon-logo {
  font-size: 30px;
}
.sbm_home .home_bottom .startbutton i.icon-startarrow {
  font-size: 12px;
  position: absolute;
  padding-top: 1px;
}
.sbm_home .home_bottom .row {
  padding: 0;
}
.sbm_home .home_bottom .row .col-33 {
  padding-right: 0px;
  padding-left: 0px;
}
.sbm_home .home_bottom .row .col-33:first-child {
  padding-left: 0px;
}
.sbm_home .home_bottom .row .col-33 .button-full {
  margin: 0 4px 0 0;
  border: none;
  color: #fff;
  padding: 1vh 0px;
}
.sbm_home .home_bottom .row .col-33 .button-full .text {
  font-size: 14px;
}
.sbm_home .home_bottom .row .col-33 .button-full .iconfont {
  font-size: 17px;
}
