//home.html
.sbm_home{
  background-color: #4D1731;
  background-image:url(../img/pic1_1.jpg);
  background-position: center;
  background-size:auto 100%;

  .home_top{
    width:100%;
    position:fixed;
    top: 8px;
    left: 0px;
    text-align: right;
    .button{
      background-color: transparent;
      border: none;
      color:#fff;
      .iconfont{      
        font-size: 28px;
      }
    }
  }

    @-webkit-keyframes upup
    {
    0% {-webkit-transform:translateY(100%);opacity: 0.2;}
    100% {-webkit-transform:translateY(0%);opacity: 1;}
    }
  .home_bottom{
    @bottompadding:5px;
    width:100%;
    position:fixed;
    bottom: 0px;
    left: 0px;
    padding:@bottompadding @bottompadding 0 @bottompadding;
    -webkit-animation: upup 1s; 
    .startbutton{
      font-size: 24px;

      height: 14vh;
      line-height:  14vh;
      margin: 5px 0 0 0;

      span.text{
        margin-right: 10px;
      }
      i.icon-logo{
        font-size: 30px;
      }
      i.icon-startarrow{
        font-size: 12px;
        position: absolute;
        padding-top: 1px;
      }
    }

    .row{
      padding: 0;
      .col-33,.col-50{
        padding-right:0px;
        padding-left: 0px;
        &:first-child{
          padding-left: 0px;
        }
        .button-full{
          margin: 0 4px 0 0;
          border: none;
          color:#fff;
          .whitebg(0.3);
          padding: 1vh 0px;
          .text{
            font-size: 14px;
          }
          .iconfont{      
            font-size: 17px;
          }
        }
      }
    }
  }//.home_bottom

}
