.liuliang {
	ul{
		margin: 7px 2%;
		img {
		.size(80px, 80px);
		vertical-align: middle;
		}
		li {
			vertical-align: middle;
			display: inline-block;
		}
		li:nth-child(2){
			width:70%;
			padding-left:3%;
		}		
	}
	.secondTitle{
		width:98%;
		height: 26px;
		line-height: 26px;
		border-top:1px solid #cecece;
		border-bottom:1px solid #cecece;
		font-size: 16px;
		background-color: #ebebeb;
		color:#676767;
		padding-left: 2%;
	}
		
}