.floatL {
	float: left;
}
.floatR {
	float: right;
}
.Clear {
	clear: both;
}
.colorGrey_9 {
	color: #999;
}
.colorYellow {
	color: #ff9d04 !important;
}
.txtLeft {
	text-align: left;
}
.txtRight {
	text-align: right;
}
.txtCenter {
	text-align: center;
}
.overflow_ellipsis {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.font18 {
	font-size: 18px !important;
}
/*Margin And Padding Start*/
.mLeft2 {
	margin-left: 2px !important;
}
.mRight5 {
	margin-right: 5px !important;
}
.mRight30 {
	margin-right: 30px !important;
}
.mRight100 {
	margin-right: 100px !important;
}
.mBottom40 {
	margin-bottom: 40px !important;
}
.mBottom9 {
	margin-bottom: 9px !important;
}
.mTop6 {
	margin-top: 6px !important;
}
.pBottom6 {
	padding-bottom: 6px !important;
}
.pTop45{
	padding-top: 45px;
}
.noradius{
	border-radius: 0 !important;
}
.borderbtm{
	border-bottom:1px solid #7b7b7b !important;
}
.borderTop{
	border-top:1px solid #ededed;
}
.borderBottom{
	border-bottom:1px solid #ededed;
}
/*Margin And Padding end*/
.font14 {
	font-size: 14px !important;
}
.warpOrderList {
	.orderItem:hover {
		background-color: #D2D2D2;
	}
}
.opacityBlackBg(@opacity) {
	background-color: #5C5C5C !important;
	opacity: @opacity !important;
	// background: rgba(24, 23, 23, 0.81);
}
.subTitle {
	font-size: 20px;
	background-color: #F0F0F0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	.colorGrey_9();
}
a{
	text-decoration: none;
}
.warpOrderStatusList {
	width: 88px;
	border-radius: 3px !important;
	.opacityBlackBg(1);
	.popover-arrow{
		left:30px !important;
	}
	.popover-arrow:after {
		.opacityBlackBg(1);
	}
	.scroll {
		.opacityBlackBg(1);
	}
	.item {
		text-align: center;
		font-size: 14px;
		.opacityBlackBg(1);
		color: #fff !important;
		border: 0px;
		margin: 0px 15px;
		padding-left: 0px;
		padding-right: 0px;
		border-bottom: 1px solid #7B7878;
		// height: 50px;
		// padding: 0px;
		// line-height: 50px;
	}
}
.warpShopMenu {
	.opacityBlackBg(1);

	.item {
		.opacityBlackBg(1);
		color: #fff;
		font-size: 14px;
		border: 0px;
	}
	.selectItem {
		background-color: #2D2D2D !important;
	}
	img{
		width:20px;
		height:20px;
		vertical-align:middle;
	}
}
.warpNoData {
	text-align: center;
	padding-top: 150px;
	border-top: 1px solid #ddd;
	color: #999;
	font-size: 16px;
    position:relative;
	.icon-logo {
		font-size: 20px;
		margin-right: 8px;
	}
}

/*订单列表*/
.warpOrderList {
	.orderItem {
		a.item-content {
			padding-bottom: 10px;
			padding-top: 28px;
		}
		.orderIdAndStatus {
			position: absolute;
			top: 6px;
			left: 19px;
			font-size: 12px;
			color: #999;
		}
		.orderDate{
			position: absolute;
			top: 6px;
			right: 19px;
			font-size: 12px;
			color: #999;
		}
		img.avatar {
			top: 29px;
			left: 18px;
		}
		.lbOrderCount {
			float: right;
			margin-right: 70px;
		}
	}
}

/*订单详情*/
.warpOrderDetail {
	color: #4D4D4D;

	div {
		padding: 2px 14px;
		font-size: 14px;
	}
	div.orders {
		padding: 0;
		.item {
			padding: 11px 0px 0px 14px;

			li {
				float: left;

				img {
					.size(50px, 50px);
					border-radius: 2px;
				}
			}
			li:nth-child(3) {
				float: right;
			}
			.title {
				width: 160px;
			}
		}
	}
	.subTitle {
		font-size: 16px;
		background-color: #F5F5F5;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.recerveInfo {
		padding: 8px 0px;
		margin-bottom: 20px;
		border-bottom: 1px solid #ddd;
	}
	div.orderNumber {
		padding-top: 18px;
		font-size: 18px;
	}
}
.posRelativeTime{
	position: relative;
}
.posAbsoluteTime{
	position: absolute;
	right: 0;
	top:0;
}
/*产品列表*/
.warpProductList {
	ul.productInfo {
		li:nth-child(1) {
			width: 90%;
			position:relative
		}
		.productName{
			display:inline-block;
			height:20px;
			max-width:72%;  
			whitespace:nowrap;
			overflow:hidden;
			text-overflow:ellipsis;
		}
		.imgPlat {
			.size(18px, 18px);
			margin:1px 5px 0 5px;
		}
		.xiu{
			margin:1px 0 0 0;
			display: inline-block;
			.size(18px, 18px);
			font-size: 12px;
			color: #fff;
			text-align: center;
			line-height: 18px;
			background-color: #FE9900;
		}
	}
	.item {
		.icon-points {
			position: absolute;
			right: 15px;
			top: 20px;
			font-size: 30px;
			color: #cfcfcf;
		}
		.imgProduct {
			border-radius: 3px;
			max-width: 56px !important;
			max-height: 56px !important;
			left: 9px !important;
		}
	}
}

.openoptions{
	width: 50px;
	height: 86px;
	position: absolute;
	right: 0px;
	top: 0px;
	// background-color: #ccc;
}

/*产品详情*/
.warpProductDetail {
	.wcontainer {
		width: 100%;
		height: auto;
		.sliders {
		width: 100%;
		height: 100vw;
		// height: 245px;
		overflow: hidden;
			.sliderlist{
				width:100%;
				height: 100vw;
				// height:245px;
				float:left;
				img{
					width:inherit;
					height:inherit;
				}
			}
		}
	}
	.detailList {
		.subTitle {
			font-size: 16px;
			background-color: #F5F5F5;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		.item {
			height: 86px!important;
			.item-content{
				height: 86px!important;
			}
			.icon-points{
				position: absolute;
				top: 33px;
				right: 10px;
				font-size: 26px;
				.colorGrey_9();
				.font14{
					font-size: 15px;
				}
			}
			img {
				.size(50px, 50px);
			}
			li {
				float: left;
			}
			li:nth-child(2) {
				width: 80%;
				padding-left: 10px;
				padding-top: 4px;

				div:nth-child(1) {
					padding-bottom: 6px;

					span:nth-child(1) {
						width: 120px;
						.overflow_ellipsis();
					}
				}
				div:nth-child(2) {
					span:nth-child(2) {
						position: absolute;
						left: 50%;
					}
					span:nth-child(3) {
						float: right;
					}
				}
			}
		}
		.detailListEmpty{
			padding: 28px;
  			text-align: center;
  			span:nth-child(1){
				position: relative;
				top: 6px;
				margin-right: 10px;
				color: #999;
				font-size: 16px;
  			}
  			.button-energized{
  				padding: 0px 15px;
				border-radius: 8px;
				font-size: 16px;
  			}
		}
	}
	.productInfo {
		padding: 10px;
		font-size: 16px;

		div {
			margin-bottom: 5px;
		}
		.title {
			font-size: 18px;
		}
		.price {
			.colorYellow();
			margin-top: 12px;
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #ddd;
		}
	}
}

.shops{
	.shopsImg{
		border-radius: 0px !important;
	}
}
.noproduct-bg{background:rgba(0,0,0,.4);position:absolute;z-index:8;width:100%;height:100%;top:44px;lefT:0;display: none;}
.noproduct-img{
    position:absolute;top:0;right:20px;z-index:99;width:90%;
}
//我是你滴小呀小广告
.wsndxyxgg{
	.size(100%,30px);
	background-color:#FF3D37;
	position: absolute;
	top:44px;
	z-index: 1;
	display: none;
	.adtext{
		white-space:nowrap;
		color: #fff;
		line-height: 30px;
		-webkit-animation: wsndxyxgg 15s linear 0s infinite;
	}
}

@-webkit-keyframes wsndxyxgg{
	0%{-webkit-transform:translate3d(100%,0,0)}
	100%{-webkit-transform:translate3d(-100%,0,0)}

}

.showad{
	// padding-top: 118px;
	.paddingtop44{
		padding-top: 75px;
	}
	.bar-subheader{
		top:74px;
	}
	.wsndxyxgg{
		display: block;
	}
}

.noshow,.noproduct{
	position: absolute;
	.square(100%);
	left: 0px;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
	background-position:5vw 44px;
	background-repeat: no-repeat;
	background-size:90%;
}
.noproduct{
	background-image: url(../img/noproduct.png);
}
.noshow{
	background-image: url(../img/noshow.png);
}
.showad .ion-volume-high:before{font-size:18px;line-height:30px;padding-left:5px;color:#fff}
.item-options .button:before{  font-size: 20px;left: 22px;position: absolute;top:16px}
.item-options .button{padding-top:20px}
.shouquandiv .item-avatar >*{float:left;line-height:40px}
.shouquandiv .item-avatar .button{float:right;line-height:34px;top:18px}