/*Margin And Padding Start*/
.mLeft2 {
	margin-left: 2px !important;
}
.mRight5 {
	margin-right: 5px !important;
}
.mRight100 {
	margin-right: 100px !important;
}

/*Margin And Padding end*/
.font14 {
	font-size: 14px !important;
}
.warpOrderList {
	.orderItem:hover {
		background-color: #D2D2D2;
	}
}
.opacityBlackBg(@opacity) {
	background-color: #5C5C5C !important;
	opacity: @opacity !important;
	// background: rgba(24, 23, 23, 0.81);
}
.warpOrderStatusList {
	width: 88px;
	border-radius: 3px !important;
	.opacityBlackBg(1);

	.popover-arrow:after {
		.opacityBlackBg(1);
	}
	.scroll {
		.opacityBlackBg(1);
	}
	.item {
		text-align: center;
		font-size: 14px;
		.opacityBlackBg(1);
		color: #fff !important;
		border: 0px;
		margin: 0px 15px;
		padding-left: 0px;
		padding-right: 0px;
		border-bottom: 1px solid #7B7878;
		// height: 50px;
		// padding: 0px;
		// line-height: 50px;
	}
}
.warpShopMenu {
	.opacityBlackBg(1);

	.item {
		.opacityBlackBg(1);
		color: #fff;
		font-size: 14px;
		border: 0px;
	}
	.selectItem {
		background-color: #2D2D2D !important;
	}
}

/*订单列表*/
.warpOrderList {
	.orderItem {
		a.item-content {
			padding-bottom: 10px;
			padding-top: 28px;
		}
		.orderIdAndStatus {
			position: absolute;
			top: 6px;
			left: 19px;
			font-size: 12px;
		}
		img.avatar {
			top: 22px;
			left: 18px;
		}
	}
}