
.ps_page{


.psanimate11start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
.psanimate11{-webkit-animation: psanimate11 4s ease-out 0s;}
.psanimate11end{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,-250px,0px);opacity: 1;}

//出现→消失
.psanimate12start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,50px,0px);opacity: 0;} 
.psanimate12{-webkit-animation: psanimate12 4s ease-out 0s;}
.psanimate12end{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}

//大→小 渐出
.psanimate1start{-webkit-transform: scale(2) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
.psanimate1{-webkit-animation: psanimate1 3s ease-out 0s;}
.psanimate1end{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
//下→上 渐出
.psanimate2start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,100px,0px);opacity: 0;}
.psanimate2{-webkit-animation: psanimate2 2s ease-out 0s;}
.psanimate2end{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
//下→上
.psanimate3start{-webkit-transform: scale(1.3) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
.psanimate3{-webkit-animation: psanimate3 2s ease-out 0s;}
.psanimate3end{-webkit-transform: scale(1.3) rotate(0deg) translate3d(0px,-45px,0px);opacity: 1;}
//右→左(常规)
.psanimate4start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
.psanimate4{-webkit-animation: psanimate4 5s ease-out 0s;}
.psanimate4end{-webkit-transform: scale(1) rotate(0deg) translate3d(-50%,0px,0px);opacity: 1;}
//右→左(微距)
.psanimate14start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;} 
.psanimate14{-webkit-animation: psanimate14 2s ease-out 0s;}
.psanimate14end{-webkit-transform: scale(1) rotate(0deg) translate3d(-10%,0px,0px);opacity: 1;}

//小→大 渐出
.psanimate5start{-webkit-transform: scale(0) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
.psanimate5{-webkit-animation: psanimate5 4s ease-out 0s;}
.psanimate5end{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
//左→右(微距)
.psanimate6start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
.psanimate6{-webkit-animation: psanimate6 4s ease-out 0s;}
.psanimate6end{-webkit-transform: scale(1) rotate(0deg) translate3d(10%,0px,0px);opacity: 1;}
//大→小 旋转
.psanimate7start{-webkit-transform: scale(3.2) rotate(-90deg) translate3d(0px,0px,0px);opacity: 0;} 
.psanimate7{-webkit-animation: psanimate7 4s ease-out 0s;}
.psanimate7end{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}

.psanimatetest{-webkit-animation: psanimate7 5s ease-out 0s;}


//左→右(常规)
.psanimate8start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;} 
.psanimate8{-webkit-animation: psanimate8 5s ease-out 0s;}
.psanimate8end{-webkit-transform: scale(1) rotate(0deg) translate3d(50%,0px,0px);opacity: 1;}

//左→右 渐出
.psanimate9start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
.psanimate9{-webkit-animation: psanimate9 2s ease-out 0s;}
.psanimate9end{-webkit-transform: scale(1) rotate(0deg) translate3d(100%,0px,0px);opacity: 1;}

//右→左 渐出
.psanimate10start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
.psanimate10{-webkit-animation: psanimate10 2s ease-out 0s;}
.psanimate10end{-webkit-transform: scale(1) rotate(0deg) translate3d(-100%,0px,0px);opacity: 1;}

.psanimate13start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,50px,0px);opacity: 0;} 
.psanimate13{-webkit-animation: psanimate13 3s ease-out 0s;}
.psanimate13end{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}

//慢速出现
.psanimate15start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
.psanimate15{-webkit-animation: psanimate15 4s ease-out 0s;}
.psanimate15end{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}

//快速出现
.psanimate18start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
.psanimate18{-webkit-animation: psanimate15 2s ease-out 0s;}
.psanimate18end{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}

//快速消失
.psanimate16start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;} 
.psanimate16{-webkit-animation: psanimate16 1s ease-out 0s;}
.psanimate16end{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}

//出现→消失2
.psanimate19start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
.psanimate19{-webkit-animation: psanimate19 4s ease-out 0s;}
.psanimate19end{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
//出现→消失22
.psanimate21start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;} 
.psanimate21{-webkit-animation: psanimate21 4s ease-out 0s;}
.psanimate21end{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}

//无动画
.psanimate17start{opacity: 1;} 
.psanimate17{-webkit-animation: psanimate17 0.5s ease-out 0s;opacity: 1;}
.psanimate17end{opacity: 1;}

.psanimate20start{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,20px,0px);opacity: 0;} 
.psanimate20{-webkit-animation: psanimate20 1s ease-out 0s;}
.psanimate20end{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}

// .animateover{animation-play-state:paused;-webkit-animation-play-state:paused;}
}


@-webkit-keyframes psanimate11{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,-250px,0px);opacity: 1;}
}
@-webkit-keyframes psanimate12{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,50px,0px);opacity: 0;}
	// 33%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	// 100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
}

@-webkit-keyframes psanimate12{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,50px,0px);opacity: 0;}
	33%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	66%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
}

@-webkit-keyframes psanimate1{
	0%{-webkit-transform: scale(2) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
}
@-webkit-keyframes psanimate2{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,100px,0px);opacity: 0;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
}
@-webkit-keyframes psanimate3{
	0%{-webkit-transform: scale(1.3) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	100%{-webkit-transform: scale(1.3) rotate(0deg) translate3d(0px,-45px,0px);opacity: 1;}
}
@-webkit-keyframes psanimate4{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(-50%,0px,0px);opacity: 1;}
}
@-webkit-keyframes psanimate14{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(-10%,0px,0px);opacity: 1;}
}
@-webkit-keyframes psanimate5{
	0%{-webkit-transform: scale(0) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
}
@-webkit-keyframes psanimate6{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
	40%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(10%,0px,0px);opacity: 1;}
}

@-webkit-keyframes psanimate7{
	0%{-webkit-transform: scale(3.2) rotate(-90deg) translate3d(0px,0px,0px);opacity: 0;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
}

@-webkit-keyframes psanimate8{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(50%,0px,0px);opacity: 1;}
}

@-webkit-keyframes psanimate9{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(100%,0px,0px);opacity: 1;}
}

@-webkit-keyframes psanimate10{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(-100%,0px,0px);opacity: 1;}
}


@-webkit-keyframes psanimate13{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,50px,0px);opacity: 0;}
	50%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	100%{-webkit-transform: scale(1.5) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
}

@-webkit-keyframes psanimate20{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,20px,0px);opacity: 0;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
}

@-webkit-keyframes psanimate15{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
}

@-webkit-keyframes psanimate16{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
}

@-webkit-keyframes psanimate17{
	0%{}
	100%{}
}

@-webkit-keyframes clickbox{
	0%{opacity: 0;}
	50%{opacity: 1;}
	100%{opacity: 0;}
}

@-webkit-keyframes psanimate19{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,00px,0px);opacity: 0;}
	33%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	66%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 0;}
}

@-webkit-keyframes psanimate21{
	0%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,00px,0px);opacity: 0;}
	33%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	66%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
	100%{-webkit-transform: scale(1) rotate(0deg) translate3d(0px,0px,0px);opacity: 1;}
}

@-webkit-keyframes clickbox2{
	0%{opacity: 0.1;}
	50%{opacity: 0.7;}
	100%{opacity: 0.1;}
}
