//模板1
.tmpht1{
	.ps_img3{
		&:extend(.backgroundpic);
		z-index: 0;
	}
	.ps_img1{
		&:extend(.backgroundpic);
		z-index: 1;
	}
	.ps_img2{
		&:extend(.centerpic);
		.square(100px);
		top: -40%;
		z-index: 2;
	}
	.ps_text1{
		&:extend(.centerpic);
		.size(100%,20px);
		text-align: center;
		font-size: 20px;
		color:#fff;
		text-shadow: 0 0 5px rgba(255, 255, 200, 0.8);
		z-index: 2;
	}
}
.tmpht2,.tmpht3,.tmpht4,.tmpht5,.tmpht6,.tmpht7,.tmpht8{
	.ps_img1{
		&:extend(.backgroundpic);
		z-index: 1;
	}

	.ps_text1{
		&:extend(tmpht1>.centerpic);
	}
}