.set-list{
	background: #ebebeb;
	.list-divider{
		width: 100%;
		height: 20px;
	}
	.padding{
		margin-top: 5px;
	}
	.span-width{
		display: inline-block;
		width: 80px;
	}
	.input-bg{
		background: #fff;
		color:#d3d3d3;
		font-size: 16px;
	}
	.list{
		.error-tip{
		position: relative;
		z-index: 999;
		margin:-15px 15px -24px 15px;
		display: none;
			.triangle{
				width: 10px;
				height: 10px;
				background: #fe9900;
				-webkit-transform:rotate(45deg);
				margin-left:30px;
			}
			.rect{
				margin-top: -5px;
				background: #fe9900;
				height: 30px;
				line-height: 30px;
				color: #fff;
				font-size: 15px;
				text-indent: 17px;
			}
		}
	}
	.logo{
		width:80px;
		height: 80px;
		display: block;
		margin: 50px auto;
	}
	.feedbacktext{
		background:#ebebeb; 
		height:200px;
		border: 1px solid #cecece;
		width: 94%;
		margin:10px auto;
		padding: 5px 1%;
	}


}
.lineHeight40{
	line-height: 40px;
	.shopname{
		.ellipsis();
		display:inline-block;
		width: 65%;
	}
	.rightwrap{
		display: inline-block;
		width: 35%;
		text-align: right;
		.expired{
		display:inline-block;
		width:60px;
		height:28px;
		line-height:28px;
		background:#e92902;
		vertical-align:middle;
		font-size:13px;
		color:#fff;
		text-align:center;
		margin-right: 3px;
		}
		.more{
			display:inline-block;
			width:40px;
			height:28px;
			line-height:11px;
			vertical-align:middle;
			text-align:center;
			border:1px solid #eee;
			border-radius:8px;
			color:#cacaca;
			font-size:24px;
		}
		.xuding{
			display:inline-block;
			width:40px;
			height:32px;
			line-height:32px;
			vertical-align:middle;
			text-align:center;
			border-radius:8px;
			color:#fff;
			font-size:13px;
			background: #fe9900;
		}
	}
	
}
.topbtn{
	border:1px solid #fff;
	border-radius:8px;
	width:56px;
	margin-right:8px;
	font-size:14px;
	background: transparent;
	color:#fff;
}
.taoxiaopubox{
	.icon-gantanhao{
		.square(70px);
		line-height: 70px;
		font-size: 60px;
		display: block;
		color: #ea2300;
		margin: 20px auto 0 auto;
		text-align: center;
	}
	.bigbutton{
		.size(45%,3.2em);
		display: block;
		text-decoration: none;
		line-height: 3.2em;
		margin: 0 auto;
		margin-top: 25%;
		background-color: @mainyellow;
		color: #fff;
		text-align: center;
		border-radius: 5px;
		font-size: 16px;
		&:hover{
			text-decoration: none;
		}
	}
	.textbar{
		.size(80%,auto);
		margin: 0 auto;
		margin-top: 15px;
		font-size: 16px;
		span{
			color: #3c8cf9;
		}
	}
	.bigbutton2{
		&:extend(.taoxiaopubox .bigbutton);
		margin-top:0;
	}
	.textbar2{
		&:extend(.taoxiaopubox .textbar);
		.size(90%,auto);
		text-align: center;
		font-size: 16px;
		margin-bottom: 20px;
		span{
			padding: 0 10px;
			background-color: #fff;
		}
	}

	.centerspacebox{
		width: 100%;
		height: 70px;
	}
	.centerlinebox{
		width: 90%;
		border-bottom: 1px solid #ccc;
		position: absolute;
		z-index: -1;
		top: 271px;
		left: 0;
		right: 0;
		margin: 0 auto;

	}
	.shouquantext{
		padding-top: 100px;
		line-height: 36px;
		// height: 36px;
		font-size: 30px;
		text-align: center;

	}
	.shouquantext2{
		padding-top: 10px;
		text-align: center;
		font-size: 20px;
	}
}











