.share{
	background: #333;
	width:100%;
	height: 100%;
	overflow-y: auto;
	.shuoming{
		width:100%;
		height:40px;
		line-height: 40px;
		text-align: center;
		color:#fc9908;
		font-size: 14px;
	}
	.sharecontent{
		width:90vw;
		// height:180px;
		margin:0 auto;
		border:1px solid #646464;
		border-radius:5px;
		padding:5px;
		.shareinputs{
			display: inline-block;
			border:2px dashed #ff960c;
			border-color: rgba(255, 150, 12, 1);
			border-radius: 5px;
			line-height: 20px;
			background: #343434;
			color: #f9f9f9;
			float: left;
			box-sizing: border-box;
			// -webkit-animation: shareinputsanimate 1s ease-out 1s infinite;
		}
		@-webkit-keyframes shareinputsanimate{
			0%{border-color: rgba(255, 150, 12, 1);}
			50%{border-color: rgba(255, 150, 12, 0.4);}
			100%{border-color: rgba(255, 150, 12, 1);}
		}
		.shareinputs:nth-child(1){
			width:100%;
			height: 60px;
			padding: 0 2%;
		}
		.shareinputs:nth-child(2){
			margin-top:1vw;
			width: 31vw;
			height: 31vw;
			text-align: center;
			padding: 2vw;
			img{
				width:100%;
				height:100%;
				// height: 80px;
				// margin-top:8px;
			}
		}
		.shareinputs:nth-child(3){
			margin:1vw 0 0 1vw;
			width: 54vw;
			height: 31vw;
			padding: 2vw;
		}
	}
	.sharediv{
		width: 94%;
		margin:30px auto;
		.barwrap{
			width:100%;
			margin:0 auto 20px;
			.barl{
				width:42%;
				height: 1px;
				background: #646464;
				margin-top: 13px;
				float: left;
			}
			.bartext{
				width:16%;
				height: 30px;
				line-height: 30px;
				color: #fc9908;
				text-align: center;
				float: left;
			}
		}
		.shareway{
			display: inline-block;
			width: 100%;
			.imgwrap{
				width:25%;
				text-align: center;
				float: left;
				&:nth-child(1){
					i{
						background-color: #5BAC33;
					}
				}
				&:nth-child(2){
					i{
						background-color: #5BAC33;
						// background-color: #EE785B;
					}
				}
				&:nth-child(3){
					i{
						background-color: #D23D3C;
					}
				}
				&:nth-child(4){
					i{
						background-color: #5793DC;
					}
				}
				&:nth-child(5){
					i{
						background-color: #219CE2;
					}
				}
				&:nth-child(6){
					i{
						background-color: #868686;
					}
				}
				&:nth-child(7){
					i{
						background-color: #fff;
					}
				}
				i{
					height: 18vw;
					width: 18vw;
					line-height: 18vw;
					overflow: hidden;
					border-radius: 100%;
					display: block;
					margin: 0 auto;
					color: #fff;
					.iconfont{
						font-size: 10vw;
					}

				}
				p{
					height: 20px;
					line-height: 20px;
					width:100%;
					color:#fff;
					font-size: 13px;
					text-align: center;
				}
			}
			
		}
	}
	.shareurlnote{
		color: #eee;
	}

	.editimg{
		.square(100%);
		position: fixed;
		display: none;
		top:0px;
		left: 0px;
		.controldiv{
			.square(100%);

			position: absolute;
		}
		.editbg{
			.square(100%);
			position: absolute;
			background-color:rgba(0, 0, 0, 0.5);
		}
		.imgbox,.backimgbox{
			.square(200px);
			// .size(200px,400px);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			img{
				width: 100%;
			}
		}
		.imgbox{
			overflow: hidden;
			border: 2px solid @mainyellow;
			// display: none;
		}
		.shurebtn,.canclebtn{
			position: absolute;
			width: 35%;
			bottom: 10%;
		}
		.shurebtn{
			right: 10%;
		}
		.canclebtn{
			left: 10%;
		}
	}
}

.Clear{
		clear:both;
}


.sharehelp{
	background-color: #333;
	img{
		display: block;
		width: 100%;
	}
}




body{
	// -webkit-user-select:initial;
}


.shareurlbox{
	background-color: #222 !important;
	color:#fff !important;
	width:100% !important;
	padding:5px !important;
	word-break: break-all;
	-webkit-user-select:initial;
}



