.sign_up{
	background-color: #222;
	.list{
		.list-inset{
			margin: 5px 10px;
			background-color: rgba(255, 255, 255, 0.1);
			.item{
				background-color: rgba(255, 255, 255, 0.1);
			}
		}
	}
	.logintitle{
		padding-top: 20px;
		h3{
			color: #fff;
		}
	}
}

// #mainUI.ng-enter {
//    #sidebar-wrapper { .fadeInLeft; }
//    #topBar { .fadeInUp; }
// }