# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/lib/
www/css/style.css
www/js/
www/css/ps.css
www/css/style.css
build
npm-debug.log

*.orig