# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/lib/
www/css/style.css
www/js/index/app.js

npm-debug.log

*.orig