<ion-view view-title="软香蕉手机详情助手" class="sbm_home">
	<div class="home_top">
		<a class="button" href="#/sbmview/setting"><i class="iconfont icon-setting"></i></a>
		<a class="button" href="#/sbmview/shops"><i class="iconfont icon-store1"></i></a>
	</div>
	<div class="home_bottom">
		<button class="button button-full button-energized startbutton">
			<i class="iconfont icon-logo"></i>
			<span class="text">开始制作详情</span>
			<i class="iconfont icon-startarrow"></i>
		</button>
		<div class="row">
		  <div class="col-33">
			<a class="button button-full" href="#/sbmview/products">
				<i class="iconfont icon-yifu"></i>
				<span class="text">我的宝贝</span>
			</a>
		  </div>
		  <div class="col-33">
			<a class="button button-full"  href="#/sbmview/orders">
				<i class="iconfont icon-order"></i>
				<span class="text">我的订单</span>
			</a>
		  </div>
		  <div class="col-33">
			<a class="button button-full"  href="#/sbmview/details">
				<i class="iconfont icon-details"></i>
				<span class="text">我的详情</span>
			</a>
		  </div>
		</div>
	</div>
</ion-view>