<ion-view view-title="第二步：请选择模板" class="checktemplate">
	<ion-content>
		<ion-list>
			<!-- ng-click="creatShow(templateId)" -->
			
			<div 
			class="template" 
			ui-sref="viewtemplate({templateId:x.id,productId:productId,productPlat:productPlat})" ng-repeat="x in viewsarr">
				<span class="image">
					<img ng-src="{{x.im}}" alt="" width="100%">
				</span>
				<span class="text">
					{{x.text}}
				</span>
			</div>
			
			<div class="template">
				<span class="image">
					<img src="/img/template2.jpg" alt="" width="100%">
				</span>
				<span class="text">
					默认模板
				</span>
			</div>
		</ion-list>
	</ion-content>
</ion-view>

<div class="loadingbox"><span class="laodpecent"><span class="nowpencent"></span></span><div class="loadingoutbox1"><div class="loadingoutbox2"><div class="laoding"><span class="iconfont icon-logo"></span><span class="softbananafont">SOFTBANANA</span></div></div></div><span class="text1">软香蕉正在玩命加载中…</span></div>