<ion-view view-title="第二步：请选择模板" class="checktemplate">
	<ion-content>
		<ion-list>
			<div class="template" ui-sref="editpages">
				<span class="image">
					<img src="ddd" alt="">
				</span>
				<span class="text">
					默认模板1
				</span>
			</div>
			<div class="template" ui-sref="editpages">
				<span class="image">
					<img src="ddd" alt="">
				</span>
				<span class="text">
					默认模板2
				</span>
			</div>
			<div class="template" ui-sref="editpages">
				<span class="image">
					<img src="ddd" alt="">
				</span>
				<span class="text">
					默认模板3
				</span>
			</div>

		</ion-list>
	</ion-content>
</ion-view>