<ion-view view-title="第三步:调整模板" class="editbox">
	<ion-nav-buttons side="right">
		<button class="button" ng-click="saveShow()">保存</button>
	</ion-nav-buttons>
	<!-- ui-sref="editpages.editer({showId:showId,pageId:prevpage,pageTemp:pageTemp})" -->
	


	<ui-view class="editplace"></ui-view>





	<!-- nav-transition="none" -->
	<button
	class="editpagebutton editpageleft" 
	ng-click="goprev()"
	>
	<span class="iconfont icon-editleft"></span>
	</button>

	<!-- ui-sref="editpages.editer({showId:showId,pageId:nextpage,pageTemp:pageTemp})" -->
	<!-- nav-transition="none" -->
	<button
	class="editpagebutton editpageright"
	ng-click="gonext()"
	>
	<span class="iconfont icon-editright"></span>
	</button>

	<button
	ng-click="playthisshow()"
	class="yellowroundbtn playshow"
	>
	<span class="iconfont icon-bofang"></span>
	</button>

<!-- 	ui-sref="addpage({showId:editShowData.showId,pageId:editShowData.currentpage})" -->
	<button
	class="yellowroundbtn addpage"
	ng-click="addpage()"
	>
	<span class="iconfont icon-jia"></span>
	</button>


	<!-- <div class="pagelistbox"> -->
<!-- 		<div class="pagelist">
		</div> -->
	<div page-editor></div>
	<!-- </div> -->

<!-- 	<sbm-page ng-attr-pagenum="{{showdata.page}}">

	</sbm-page> -->
</ion-view>