<ion-view view-title="图片空间" class="editbox">

        	 <div class="bar bar-subheader bgcolor textAlignR">
                <div class="button button-icon font14 mRight5 colorD2"  ng-click="openPopover($event)">选择店铺图片分类
                		<i class="iconfont icon-xiangxia font14 mLeft2"></i>
        		    </div>
          </div>
     
        	<ion-content>
        		<div class="picwrap">
        		   <img  ng-repeat="pic in pics" ng-src="{{pic.URL2}}" class="pic" ng-click="uppic(pic.URL)">
        		</div>
        	</ion-content>

</ion-view>