<ion-view view-title="分享" class="share">
  
    <div class="paddingtop44"></div>

  	<div class="shuoming">点击红框，修改文字和图片</div>
  	<div class="content">
  		<textarea  class="inputs">{{shareData.detailName}}</textarea>
  		<div class="inputs">
  			<img  src="{{shareData.detailImage}}"/></div>
  		<textarea  class="inputs">{{shareData.detailDesc}}</textarea>
  		<div class="Clear"></div>
  	</div>
  	<div class="sharediv">
  		<div class="barwrap">
  			<div class="barl"></div>
  			<div class="bartext">分享</div>
  			<div class="barl"></div>
  			<div class="Clear"></div>
  		</div>

		<div class="Clear"></div>
  		<div class="shareway">
        <div
        ng-hide="!istaobao"
        ng-click="sharetosomewhere()" 
        class="button button-energized button-block">分享</div>
        <div
        ng-hide="istaobao"
        class="sharebox">        
    			<span class="imgwrap">
    				<i>
              <span class="iconfont icon-weixin"></span>    
            </i>
    				<p>微信好友</p>
    			</span>
    			<span class="imgwrap">
    				<i>
              <span class="iconfont icon-pengyouquan"></span>    
            </i>
    				<p>微信朋友圈</p>
    			</span>
    			<span class="imgwrap">
    				<i>
              <span class="iconfont icon-xinlang"></span>    
            </i>
    				<p>微信好友</p>
    			</span>
    			<span class="imgwrap">
    				<i>
              <span class="iconfont icon-qq"></span>    
            </i>
    				<p>微信好友</p>
    			</span>
    			<span class="imgwrap">
    				<i>
              <span class="iconfont icon-qqkongjian"></span>    
            </i>
    				<p>微信好友</p>
    			</span>
    			<span class="imgwrap">
    				<i>
              <span class="iconfont icon-fuzhilianjie"></span>    
            </i>
    				<p>微信好友</p>
    			</span>
        </div>
  			<div class="Clear"></div>
  			
  		</div>
  		
  	</div>

</ion-view>