<ion-view view-title="分享">
  <ion-content class="share">
  	<div class="shuoming">点击红框，修改文字和图片</div>
  	<div class="content">
  		<textarea  class="inputs">{{shareData.detailName}}</textarea>
  		<div class="inputs">
  			<img  src="{{shareData.detailImage}}"/></div>
  		<textarea  class="inputs">{{shareData.detailDesc}}</textarea>
  		<div class="Clear"></div>
  	</div>
  	<div class="sharediv">
  		<div class="barwrap">
  			<div class="barl"></div>
  			<div class="bartext">分享</div>
  			<div class="barl"></div>
  			<div class="Clear"></div>
  		</div>
		<div class="Clear"></div>
  		<div class="shareway">
  			<dl class="imgwrap">
  				<dt><img src="img/pic1.jpg"></dt>
  				<dd>微信好友</dd>
  			</dl>
  			<dl class="imgwrap">
  				<dt><img src="img/pic1.jpg"></dt>
  				<dd>微信朋友圈</dd>
  			</dl>
  			<dl class="imgwrap">
  				<dt><img src="img/pic1.jpg"></dt>
  				<dd>微信好友</dd>
  			</dl>
  			<dl class="imgwrap">
  				<dt><img src="img/pic1.jpg"></dt>
  				<dd>微信好友</dd>
  			</dl>
  			<dl class="imgwrap">
  				<dt><img src="img/pic1.jpg"></dt>
  				<dd>微信好友</dd>
  			</dl>
  			<dl class="imgwrap">
  				<dt><img src="img/pic1.jpg"></dt>
  				<dd>微信好友</dd>
  			</dl>
  			<dl class="imgwrap">
  				<dt><img src="img/pic1.jpg"></dt>
  				<dd>微信好友</dd>
  			</dl>
  			<div class="Clear"></div>
  			
  		</div>
  		
  	</div>
  </ion-content>
</ion-view>