<ion-view view-title="流量">
  <ion-content>
    <div class="liuliang">
        <ul>
            <li>
              <img ng-src="{{showsInfoData.reportDetail.detailUrl}}">
            </li>
            <li>
              <div class="baobeititle">
                <span>{{showsInfoData.reportDetail.detailTitle}}</span>
              </div>
              <div>
                <div class="colorGrey_9">
                  <i class="iconfont icon-wodexiangqingyanjing"></i>&nbsp;&nbsp;总浏览：
                  {{showsInfoData.reportDetail.llCount}}次
                </div>
                <div class="colorGrey_9">
                  <i class="iconfont icon-wodexiangqingfenxianghei"></i>&nbsp;&nbsp;总到店：
                  {{showsInfoData.reportDetail.ddCount}}人
                </div>
                <div  class="colorGrey_9">
                  <i class="iconfont icon-store1"></i>&nbsp;&nbsp;被转发：
                  {{showsInfoData.reportDetail.zfCount}}次
                </div>
              </div>
            </li>
        </ul>
        <div  class="secondTitle">平台流量</div>

        <div class="bar bar-subheader">
            <div class="checkbtn">
                <div class="button-bar">
                  <a class="button" ng-class="{'button-energized':tabsBtn.lldetail}" ng-click="tabsClick('lldetail')">浏览数</a>
                  <a class="button" ng-class="{'button-energized':tabsBtn.dddetail}"  ng-click="tabsClick('dddetail')">到店数</a>
                  <a class="button" ng-class="{'button-energized':tabsBtn.zfdetail}"  ng-click="tabsClick('zfdetail')">转发数</a>
                </div>
            </div>
        </div>
        

        <div class="graph">
            <div class="zhu">
              <span class="shu">{{tabsBtn.wxFriend}}</span>
              <div class="tiao"></div>
              <span class="ming">
              <span class="shareicon">
                <span class="iconfont icon-weixin"></span>
              </span>
              微信好友</span>
            </div>
             <div class="zhu">
              <span class="shu">{{tabsBtn.wxFriends}}</span>
              <div class="tiao"></div>
              <span class="ming">
              <span class="shareicon">
                <span class="iconfont icon-pengyouquan"></span>
              </span>
              朋友圈</span>
            </div>
             <div class="zhu">
              <span class="shu">{{tabsBtn.weibo}}</span>
              <div class="tiao"></div>
              <span class="ming">
              <span class="shareicon">
                <span class="iconfont icon-xinlang"></span>
              </span>
              待开放</span>
            </div>
             <div class="zhu">
              <span class="shu">{{tabsBtn.qq}}</span>
              <div class="tiao"></div>
              <span class="ming">
              <span class="shareicon">
                <span class="iconfont icon-qq"></span>
              </span>
              待开放</span>
            </div>
             <div class="zhu">
              <span class="shu">{{tabsBtn.qzone}}</span>
              <div class="tiao"></div>
              <span class="ming">
              <span class="shareicon">
                <!-- <span class="iconfont icon-qqkongjian"></span> -->
                <span class="iconfont icon-fuzhilianjie"></span>
              </span>
              原始链接</span>
            </div>
        </div>

        <div class="padding">
            <a class="button button-block button-energized" ui-sref="share({showId:showsInfo.detailId})">再次分享</a>
        </div>
    </div>
  </ion-content>
</ion-view>