<ion-view view-title="我的宝贝秀">
  <ion-content  class="warpProductDetail">
    <div class="detailList">
      <ion-refresher
        pulling-text="下拉更新..."
        on-refresh="refresh()">
      </ion-refresher>
      <ion-list can-swipe="true" >
          <ion-item 
          class="showlistitem"
          ng-repeat="item in showsListData" >
            <ul ui-sref="viewshow({showId:item.detailId})">
              <li>
                <img ng-src="{{item.picUrl}}">
              </li>
              <li>
                <div>
                  <span>{{item.detailName}}</span>
                  <span class="floatR colorGrey_9 font14">{{item.postDate}}</span>
                </div>
                <div>
                  <span class="colorGrey_9"> 
                    <i class="iconfont icon-wodexiangqingyanjing"></i>
                    {{item.llCount}}
                  </span>
                  <span class="colorGrey_9">
                    <i class="iconfont icon-wodexiangqingfenxianghei"></i>
                    {{item.zfCount}}
                  </span>
                  <span  class="colorGrey_9">
                    <i class="iconfont icon-store1"></i>
                    {{item.ddCount}}
                  </span>
                </div>
              </li>
            </ul>
            <div class="Clear"></div>
            <span class="openoptions" ng-click="showediticon($index)">
              <i class="iconfont icon-points" ></i>
            </span>
            <ion-option-button class="button-dark" ng-click="edit(item.detailId)">
                <span class="text">编辑</span>
            </ion-option-button>
            <ion-option-button class="button-dark" ui-sref="share({showId:item.detailId})">
                <span class="text">分享</span>
            </ion-option-button>
            <ion-option-button class="button-dark" ng-click="dele(item.detailId)">
                <span class="text">删除</span>
            </ion-option-button>
            <ion-option-button class="button-dark" ui-sref="liuliang({showId:item.detailId})">
                <span class="text">流量</span>
            </ion-option-button>
          </ion-item>
        </ion-list>

        <ion-infinite-scroll
         on-infinite="loadMoreData()"
         distance="1%">
        </ion-infinite-scroll>
    </div>
  </ion-content>
</ion-view>