<div class="threepoints">

	<div class="pagemainbtn pagemainbtnhide">
		<div class="centerround" id="standabtn" ng-click="parma($event)">
			<span class="parmabtn">参数</span>
		</div>
		<div class="centerround" id="parmabtn" ng-click="standa($event)">
			<span class="standabtn" >规格</span>
		</div>
		<div class="centerround current" id="buybtn" ng-click="buybuybuy(showdata.detailUrl)">
			<span class="buybtn" >购买</span>
		</div>
	</div>
	<div class="screenforbiden" ng-click="igetitjustgobuynow()">
	</div>

	<div class="showpagema">
		<span class="topbar currenttopbar">
			<span class="text">颜色</span>
		</span>
		<span class="topbar">
			<span class="text">尺码</span>
		</span>
	</div>
	<div class="showstanda"></div>
</div>