<div class="threepoints">

	<div class="pagemainbtn pagemainbtnhide">
		<div class="centerround"  id="parmabtn" ng-click="parma($event)" ng-if="pinfo.noSalesProperty">
			<span class="parmabtn">参数</span>
		</div>
		<div class="centerround" id="standabtn"  ng-if="pinfo.salesProperty" ng-click="standa($event)">
			<span class="standabtn" >规格</span>
		</div>
		<div class="centerround current" id="buybtn" ng-click="buybuybuy(pinfo.detailUrl)">
			<span class="buybtn" >购买</span>
		</div>
	</div>

	<div class="screenforbiden" ng-click="igetitjustgobuynow()">
	</div>

	<ion-content class="showpagema">
		<span 
		class="pagemaitem" 
		ng-repeat="(pagemaname, pagema) in pinfo.noSalesProperty">
			<span class="pagemaname">{{pagemaname}}</span>
			<span class="maohao">:</span>
			<span class="pagemainfo">
				<span ng-repeat="value in pagema track by $index">{{value}} </span>
			</span>
		</span>
	</ion-content>

	<div class="showstanda">
		<span
		class="textbox"
		ng-class="{currenttopbar:standaindex===$index}"
		ng-click="standatopbar($index)"
		ng-repeat="(standaname, standa) in pinfo.salesProperty"
		ng-style="pinfo.textboxstyle($index)">
			<span class="text">{{standaname}}</span>
		</span>
		<ion-content
		class="standabox"
		ng-class="{standaboxshow:standaindex===$index}"
		ng-repeat="(standaname, standa) in pinfo.salesProperty">
			<span class="standaitem" ng-repeat="value in standa track by $index ">
				{{value}}
			</span>
		</ion-content>
	</div>
	
</div>