.editbox{
	background-color: #343434;
	position: absolute;
	.size(100%,100%);
	top: 0px;
	left: 0px;

	.editpagebutton{
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: transparent;
		border: none;
		// background-color: rgba(0, 255, 255, 0.1);
		.iconfont{
			color: #fff;
			font-size: 30px;
		}
	}
	.editpageleft{
		left: 0;
	}
	.editpageright{
		right: 0;
	}

	.yellowroundbtn{
		.square(44px);
		border-radius: 44px;
		background-color: rgba(254, 153, 0, 0.5);
		border:1px solid rgba(254, 153, 0, 1);
		position: absolute;
		bottom: 0;
		top: 50%;
		left: 0;
		// right: 0;
		margin: auto;
		z-index: 1;
		.iconfont{
			color: #fff;
			text-align: center;
			line-height: 40px;
			font-size: 20px;
		}
	}
	.playshow{
		left: 60%;
		text-decoration: none;
		text-align: center;
	}
	.addpage{
		left: 80%;
	}


	.pagelistbox{
		.size(100%,110px);
		position: absolute;
		top: auto;
		bottom:0px;
		left: 0px;
		overflow-y: hidden;
		overflow-x: auto;
		background-color: #000;

		//清除 ion-content  默认样式
		.has-header{
			top: 0px;
		}

		.pagelist{
			// .size(441px,110px);
			// .clearfix();
		}
			.pageitem{
				.size(63px,100px);
				float: left;
				border:2px solid rgba(254, 153, 0, 0);
				margin: 5px;
				background-size:auto 100%;
				background-position: center;
			}
			.current{
				border-color:rgba(254, 153, 0, 1);;
			}



	}

	.editplace{
		position: absolute;
		top: 44px;
		right: 0;
		// bottom: 0;
		left: 0;
		margin: auto;
		border: 2px dashed @mainyellow;
		background-color: transparent;
	}

}




.checkimgbox{
	display: none;
	.square(100%);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.3);
	input[type="file"]{visibility: hidden;}
	.button{
		position: absolute;
		bottom: 0px;
		margin: auto;
		z-index: 2;
	}
	.leftbtn{
		left: 0px;
	}
	.rightbtn{
		right: 0px;
	}
}
#maincanvas{
	width: 100%;
	height: 100%;
	position: absolute;
}




.viewbox{
	position: absolute;
	top: 44px;
	left: 0px;
	height: -webkit-calc(~"100% - 44px");
	width: 100%;
}


.deletethispage{
	.square(25px);
	border-radius: 25px;
	background-color: @mainyellow;;
	display: none;
	position: absolute;
	top: -7px;
	right: -7px;
	font-size: 10px;
	color:#fff;
	text-align: center;
	line-height: 25px;
}
.editpages{
	-webkit-animation: editpages 1s linear infinite;
	position: relative;
	.deletethispage{
		display: block;
	}
}
@-webkit-keyframes editpages {
	0%, 50%, 100%{
		-webkit-transform:rotate3d(0, 0, 1, 2deg);
	}
	25%, 75%{
		-webkit-transform:rotate3d(0, 0, 1, -2deg);
	}
}
