<ion-view view-title="店铺管理">
  <ion-content>
    <ion-list>
      <ion-item
      class="item-remove-animate item-avatar item-icon-right"  
      type="item-text-wrap">
        <img ng-src="{{chat.face}}">
        慧益母婴旗舰店
        <ion-option-button class="button-dark">
          删除
        </ion-option-button>
        <ion-option-button class="button-dark">
          续订
        </ion-option-button>
      </ion-item>

      <ion-item
      class="item-remove-animate item-avatar item-icon-right"  
      type="item-text-wrap">
        <img ng-src="{{chat.face}}">
        慧益母婴旗舰店
        <ion-option-button class="button-dark">
          删除
        </ion-option-button>
        <ion-option-button class="button-dark">
          续订
        </ion-option-button>
      </ion-item>

      <ion-item
      class="item-remove-animate item-avatar item-icon-right"  
      type="item-text-wrap">
        <img ng-src="{{chat.face}}">
        慧益母婴旗舰店
        <ion-option-button class="button-dark">
          删除
        </ion-option-button>
        <ion-option-button class="button-dark">
          续订
        </ion-option-button>
      </ion-item>
      
      <ion-item
      class="item-remove-animate item-avatar item-icon-right"  
      type="item-text-wrap">
        <img ng-src="{{chat.face}}">
        慧益母婴旗舰店
        <ion-option-button class="button-dark">
          删除
        </ion-option-button>
        <ion-option-button class="button-dark">
          续订
        </ion-option-button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>