<ion-view view-title="宝贝秀新手引导" class="sharehelp">
  <ion-content>
    <img src="/img/help/help_02.jpg" alt="">
    <img src="/img/help/help_03.jpg" alt="">
    <img src="/img/help/help_04.jpg" alt="">
    <img src="/img/help/help_05.jpg" alt="">
    <img src="/img/help/help_06.jpg" alt="">
    <img src="/img/help/help_07.jpg" alt="">
    <img src="/img/help/help_08.jpg" alt="">
    <img src="/img/help/help_09.jpg" alt="">
    <img src="/img/help/help_10.jpg" alt="">
    <img src="/img/help/help_11.jpg" alt="">
  </ion-content>
</ion-view>