<ion-view view-title="关于我们">
	<ion-content class="set-list">
	<img src="/img/pic2.png" class="logo"/>
		<ion-list>
			<ion-item>
				客服电话
				<span class="item-note">13918600642</span>
			</ion-item>
<!-- 			<ion-item class="ng-hide" ng-show="!istaobao">
				客服QQ
				<span class="item-note">123456789</span>
			</ion-item> -->
			<ion-item>
				旺旺客服
				<span class="item-note">1515409156</span>
			</ion-item>
			<ion-item>
				商务合作
				<span class="item-note">wukui@softbanana.com</span>
			</ion-item>
			<ion-item>
				官方网址
				<span class="item-note">softbanana.com</span>
			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>