<ion-view view-title="店铺管理" class="warpProductList">
<ion-nav-buttons side="right">
		<button class="button ion-plus-round" ui-sref="shops">
  
    </button>
	</ion-nav-buttons>
  <ion-content>
    <ion-list>     
      <ion-item 
      class="item-remove-animate item-avatar item-icon-right lineHeight40 showlistitem" 
      type="item-text-wrap" 
      ng-repeat="shop in shopList.shops">
          <img ng-src="{{shop.imgsrc}}">
          <span class="shopname">{{shop.shopName}}</span>
          <span class="rightwrap" ng-if="shop.isInvalid">
            <span class="expired">授权过期</span>
          </span>
          <span class="openoptions" ng-click="showediticon($index)"  ng-if="shop.isInvalid">
            <i class="iconfont icon-points" ></i>
          </span>
<!--         <ion-option-button class="button-dark" ng-click="del(shop.plat,shop.shopName)">
          删除
        </ion-option-button> -->
        <ion-option-button  ng-if="shop.isInvalid" class="button-dark ion-android-checkbox-outline" ng-click="goon(shop.plat,shop.shopName)">
          续订
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>