<ion-view view-title="设置">
  <ion-content class="set-list">
    <ion-list>
      <div class="list-divider ng-hide" ng-show="!istaobao"></div>
      <ion-item class="item-icon-right ng-hide" ui-sref="set-password" ng-show="!istaobao">
        修改密码
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <div class="list-divider"></div>
      <ion-item class="item-icon-right ng-hide" ng-show="!istaobao" ui-sref="set-shopmanage">
        店铺管理
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <div class="list-divider ng-hide" ng-show="!istaobao"></div>
      <ion-item class="item-icon-right ng-hide" ng-show="!istaobao">
        宝贝同步
        <i class="icon icon-accessory">5分钟/次&nbsp;&nbsp;</i>
      </ion-item>
      <ion-item class="item-icon-right ng-hide" ng-show="!istaobao">
        订单同步
        <i class="icon icon-accessory">5分钟/次&nbsp;&nbsp;</i>
      </ion-item>
      <div class="list-divider ng-hide" ng-show="!istaobao"></div>
      <!--<ion-item class="item-icon-right ng-hide" ui-sref="set-remind" ng-show="!istaobao">
        提醒设置
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>-->
      <div class="list-divider"></div>
      <ion-item class="item-icon-right" ui-sref="set-feedback">
        意见反馈
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-icon-right" ui-sref="set-aboutus">
        关于我们
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-icon-right" ui-sref="set-help">
        新手引导
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <div class="padding ng-hide" ng-show="!istaobao">
        <a class="button button-block button-energized" ng-click="logout()">退出登录</a>
      </div>

    </ion-list>
  </ion-content>
</ion-view>