<ion-view view-title=" " class="sbm_home" hide-nav-bar="true">
	<div class="home_top">
		<a class="button" ui-sref="setting"><i class="iconfont icon-setting"></i></a>
		<a class="button" ui-sref="shops"><i class="iconfont icon-store1"></i></a>
	</div>
	<span class="logoimg"></span>
	<div class="home_bottom">
		<button class="button button-full button-energized startbutton" ui-sref="checkproduct">
			<i class="iconfont icon-logo"></i>
			<span class="text">开始制作宝贝秀</span>
			<i class="iconfont icon-startarrow"></i>
		</button>
		<div class="row">
		  <div class="col col-50">
			<a class="button button-full" ui-sref="products">
				<i class="iconfont icon-yifu"></i>
				<span class="text">我的宝贝</span>
			</a>
		  </div>
		  <div class="col col-50">
			<a class="button button-full"  ui-sref="shows" style="margin:0;">
				<i class="iconfont icon-details"></i>
				<span class="text">我的宝贝秀</span>
			</a>
		  </div>

<!-- 		  <div class="col col-33">
			<a class="button button-full" ui-sref="products">
				<i class="iconfont icon-yifu"></i>
				<span class="text">我的宝贝</span>
			</a>
		  </div>
		  <div class="col col-33">
			<a class="button button-full"  ui-sref="orders">
				<i class="iconfont icon-order"></i>
				<span class="text">我的订单</span>
			</a>
		  </div>
		  <div class="col col-33">
			<a class="button button-full"  ui-sref="shows" style="margin:0;">
				<i class="iconfont icon-details"></i>
				<span class="text">我的宝贝秀</span>
			</a>
		  </div> -->



		</div> 

	</div>
</ion-view>
