<ion-view view-title="登录">
	<ion-content class="sign_up">
		<ion-list>
			<div class="logintitle textcenter">
				<h3>软香蕉手机详情助手</h3>
			</div>
			<div class="list list-inset">
				<label class="item item-input">
					<i class="iconfont icon-store2 placeholder-icon"></i>
					<input type="text" placeholder="商家名称">
				</label>
			</div>
			<div class="list list-inset">
				<label class="item item-input">
					<i class="iconfont icon-yonghuming placeholder-icon"></i>
					<input type="text" placeholder="用户名">
				</label>
			</div>
			<div class="list list-inset">
				<label class="item item-input">
					<i class="iconfont icon-mima placeholder-icon"></i>
					<input type="password" placeholder="密码">
				</label>
			</div>
			<div class="padding">
				<a class="button button-block button-energized" href="#/shopinfo/home">立即注册</a>
				<a class="button button-block button-nocolor" href="#/sign_up">返回注册<i class="iconfont icon-justgo"></i></a>
			</div>
		</ion-list>
	</ion-content>
</ion-view>

