<ion-view view-title="我的订单">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="show()">
    同步
    </button>
  </ion-nav-buttons>

  <ion-side-menus enable-menu-with-back-views-"true">
    <!-- Center content -->
    <ion-side-menu-content class="paddingtop88">

      <div class="bar bar-subheader">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <button class="button button-icon" menu-toggle="right" ng-click="openPopover($event)">已付款</button>

      </div>
      <ion-content class="paddingtop44">
        <ion-refresher
        pulling-text="下拉更新..."
        on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list>
          <ion-item
          class="item-avatar item-icon-right">
            <img ng-src="{{chat.face}}">
            <h2>小西装</h2>
            <p>￥233.00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;223件</p>
            <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
          </ion-item>
        </ion-list>
      </ion-content>

    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left"  class="paddingtop44" width="100">
      <ion-content>
        <ion-list>
          <ion-item menu-close ng-repeat="item in shopList">
            {{item.name}}
          </ion-item>
        </ion-list>
      </ion-content>

    </ion-side-menu>

  </ion-side-menus>

</ion-view>


