<ion-view view-title="我的订单">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="refreshServer()">
    同步
    </button>
  </ion-nav-buttons>

  <ion-side-menus enable-menu-with-back-views-"true">
    <!-- Center content -->
    <ion-side-menu-content class="paddingtop88">

      <div class="bar bar-subheader">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <button class="button button-icon font14 mRight5" menu-toggle="right" ng-click="popover.show($event)">{{currOrderStatusName}}<i class="iconfont icon-xiangxia font14 mLeft2"></i></button>
        
      </div>
      <ion-content class="paddingtop44">
        <ion-refresher
        pulling-text="下拉更新..."
        on-refresh="refreshOrderList()">
        </ion-refresher>

        <ion-list class="warpOrderList">
          <ion-item
          class="item-avatar item-icon-right orderItem" ng-repeat="item in orderList">
            <img ng-src="{{item.picUrl}}">
            <h2>{{item.title}}</h2>
            <p><span class="mRight100">￥{{item.totalAmount}}</span><span>{{item.orderCount}}件</span></p>
          </ion-item>

        </ion-list>

      <ion-infinite-scroll
        ng-if="true"
        icon="ion-loading-c"
        on-infinite="loadMoreData()"
        distance="20%"
        spinner="ios"
        >
      </ion-infinite-scroll>

      </ion-content>

    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left"  class="paddingtop44 warpShopMenu" width="100">
      <ion-content>
        <ion-list>
          <ion-item menu-close ng-repeat="item in shopList" ng-class="{{pageFunc.getShopListSelectClass(it)}}" ng-click="loadDataByShop(item)">
            {{item.name}}
          </ion-item>
        </ion-list>
      </ion-content>

    </ion-side-menu>

  </ion-side-menus>

</ion-view>
