<ion-view view-title="店铺授权" class="shops">
  <ion-nav-buttons side="right">
    <button class="button" ui-sref="home">首页</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <div  ui-sref="shouquanhelp" class="ng-hide shouquandiv" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/youzan.jpg">
            <p>有赞商城（口袋通）</p>
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
      <div  ui-sref="shouquanhelp" class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/weidian.jpg">
            <p> 微店（口袋购物）</p>
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
      <div ui-sref="shouquanhelp" >
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="img/plat/taobao.jpg">
             <p>淘宝网</p>
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
      <div ui-sref="shouquanhelp"  class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/tianmao.jpg">
             <p>天猫商城</p>
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
<!--       <div ui-sref="shouquanhelp"  class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/amazon.jpg">
            亚马逊商城
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div> -->
      <div ui-sref="shouquanhelp"  class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/paipai.jpg">
            <p> 拍拍商城</p>
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
      <div ui-sref="shouquanhelp"  class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/dangdang.jpg">
             <p>当当商城</p>
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
      <div ui-sref="shouquanhelp"  class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/jingdong.jpg">
             <p>京东商城</p>
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
      <div ui-sref="shouquanhelp"  class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/yihaodian.jpg">
            <p> 一号店</p>
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
     <!--  <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" >
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item> -->


    </ion-list>
<!--     <div ng-repeat="cc in test">
      <p>{{cc}}</p>
    </div> -->
  </ion-content>
</ion-view>
