<ion-view view-title="店铺授权" class="shops">
  <ion-content>
    <ion-list>
      <div  ui-sref="viewshop({url:youzan})" class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/youzan.jpg">
            有赞商城（口袋通）
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
      <div  ui-sref="viewshop({url:weidian})" class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/weidian.jpg">
            微店（口袋购物）
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
      <div ui-sref="viewshop({url:taobao})" href="{{taobao}}">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/taobao.jpg">
            淘宝网
          <button class="button button-energized" href="">
            立即授权
          </button>
        </div>
      </div>
      <div ui-sref="viewshop({url:taobao})" href="{{taobao}}" class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/tianmao.jpg">
            天猫商城
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
<!--       <div ui-sref="viewshop({url:yamaxun})" href="#" class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/amazon.jpg">
            亚马逊商城
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div> -->
      <div ui-sref="viewshop({url:paipai})" href="{{paipai}}" class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/paipai.jpg">
            拍拍商城
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
      <div ui-sref="viewshop({url:dangdang})" href="#" class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/dangdang.jpg">
            当当商城
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
      <div ui-sref="viewshop({url:jingdong})" href="{{jingdong}}" class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/jingdong.jpg">
            京东商城
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
      <div ui-sref="viewshop({url:yihaodian})" href="#" class="ng-hide" ng-show="!istaobao">
        <div class="item item-avatar item-button-right">
          <img class="shopsImg" src="/img/plat/yihaodian.jpg">
            一号店
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </div>
     <!--  <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" >
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item> -->


    </ion-list>
<!--     <div ng-repeat="cc in test">
      <p>{{cc}}</p>
    </div> -->
  </ion-content>
</ion-view>
