<ion-view view-title="店铺授权">
  <ion-content>
    <ion-list>
      <a href="#">
        <div class="item item-avatar item-button-right">
          <img src="venkman.jpg">
            有赞口袋通
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </a>
      <a href="#">
        <div class="item item-avatar item-button-right">
          <img src="venkman.jpg">
            微店
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </a>
      <a href="http://fuwu.taobao.com/ser/detail.htm?spm=a1z13.1113643.1113643.15.0AwLbu&service_code=FW_GOODS-1933759&tracelog=search&scm=&ppath=&labels=&qq-pf-to=pcqq.c2c">
        <div class="item item-avatar item-button-right">
          <img src="venkman.jpg">
            淘宝网
          <button class="button button-energized" href="">
            立即授权
          </button>
        </div>
      </a>
      <a href="http://fuwu.taobao.com/ser/detail.htm?spm=a1z13.1113643.1113643.15.0AwLbu&service_code=FW_GOODS-1933759&tracelog=search&scm=&ppath=&labels=&qq-pf-to=pcqq.c2c">
        <div class="item item-avatar item-button-right">
          <img src="venkman.jpg">
            天猫商城
          <button class="button button-energized">
            立即授权
          </button>
        </div>
      </a>
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" >
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>


    </ion-list>
<!--     <div ng-repeat="cc in test">
      <p>{{cc}}</p>
    </div> -->
  </ion-content>
</ion-view>
