<ion-view view-title="我的宝贝" class="sbm_products">

<!-- 	<ion-side-menus enable-menu-with-back-views-"true">

	  <ion-side-menu-content ng-controller="contentCtrl" class="paddingtop44">
	  	<button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
	  	ionside-menu-concent
	  </ion-side-menu-content>

	  <ion-side-menu side="left"  class="paddingtop44" width="100">
	  	leftsidemenu
	  </ion-side-menu>

	</ion-side-menus> -->
	<ion-content>

		<div class="button" ng-click="checklocalimg()">选图片</div>

	</ion-content>


</ion-view>
