<ion-view view-title="已付款订单">
	<ion-content>
		<div class="warpOrderDetail">
			<div class="orderNumber">
				订单号：E20000000000000000000
			</div>
			<div class="orderDate">
				<span class="mRight30 colorGrey_9">2015-03-10</span><span class="colorGrey_9">10:53:19</span>
			</div>
			<div class="paymentType colorGrey_9 pBottom6">
				货到付款
			</div>
			<div class="subTitle">
				商品明细
			</div>
			<div class="orders">
				<div class="item">
					<ul>
						<li>
							<img src="http://img.taobaocdn.com/bao/uploaded/TB19KUKGVXXXXb7aXXXSutbFXXX.jpg_320x320.jpg">
						</li>
						<li>
							<div>宝贝标题</div>
							<div class="colorGrey_9">规格名称</div>
						</li>
						<li>
							<div>￥99.00</div>
							<div class="colorGrey_9">X1</div>
						</li>
					</ul>
					<div class="Clear"></div>
				</div>
				<div class="item">
					<ul>
						<li>
							<img src="http://img.taobaocdn.com/bao/uploaded/TB19KUKGVXXXXb7aXXXSutbFXXX.jpg_320x320.jpg">
						</li>
						<li>
							<div>宝贝标题</div>
							<div class="colorGrey_9">规格名称</div>
						</li>
						<li>
							<div>￥99.00</div>
							<div class="colorGrey_9">X1</div>
						</li>
					</ul>
					<div class="Clear"></div>
				</div>
			</div>
			<div class="buyerMessage colorGrey_9">卖家留言：无</div>
			<div>
				<span>商品总价</span>
				<span>￥198.00</span>
				<div class="Clear"></div>
			</div>
			<div class="subTitle">
				收货信息
			</div>
			<div class="recerveInfo">
				<div>
					王尼玛，13701511111
				</div>
				<div>
					上海市 徐汇区
				</div>
				<div>
					桂平路
				</div>
				<div>
					运费：￥11.00
				</div>
			</div>
			<div class="payCompute">
				￥198.00+￥11.00运费
			</div>
			<div class="payReal">
				实付：￥209.00
			</div>
		</div>
	</ion-content>
</ion-view> 
