<ion-view view-title="{{pageData.orderDetail.statusName}}订单">
	<ion-content>
		<div class="warpOrderDetail" ng-show="pageData.isPageShow">
			<div class="orderNumber">
				订单号：{{pageData.orderDetail.orderNumber}}
			</div>
			<div class="orderDate">
				<span class="mRight30 colorGrey_9">{{pageData.orderDetail.orderDate | date:"yyyy-MM-dd"}}</span><span class="colorGrey_9">{{pageData.orderDetail.orderDate | date:"hh:mm:ss"}}</span>
			</div>
			<div class="paymentType colorGrey_9 pBottom6">
				{{pageData.orderDetail.paymentType}}
			</div>
			<div class="subTitle borderTop">
				商品明细
			</div>
			<div class="orders">
				<div class="item" ng-repeat="item in pageData.orderDetail.orders">
					<ul>
						<li>
							<img ng-src="{{item.picUrl}}">
						</li>
						<li>
							<div class="overflow_ellipsis title">{{item.title}}</div>
							<div class="colorGrey_9">{{item.skuName}}</div>
						</li>
						<li>
							<div>￥{{item.price}}</div>
							<div class="colorGrey_9 txtRight">X{{item.orderCount}}</div>
						</li>
					</ul>
					<div class="Clear"></div>
				</div>
			</div>
			<div class="buyerMessage colorGrey_9 item">买家留言：{{pageData.orderDetail.buyerMessage}}</div>
			<div>
				<span>商品总价</span>
				<span class="floatR colorYellow">￥{{pageData.orderDetail.totalAmount}}</span>
				<div class="Clear"></div>
			</div>
			<div class="subTitle borderTop borderBottom">
				收货信息
			</div>
			<div class="recerveInfo">
				<div>
					{{pageData.orderDetail.consignee}}，{{pageData.orderDetail.mobilePhone}}
				</div>
				<div>
					{{pageData.orderDetail.address}}
				</div>
				<div class="colorYellow">
					运费：￥{{pageData.orderDetail.postFee}}
				</div>
			</div>
			<div class="txtCenter">
				￥{{pageData.orderDetail.totalAmount}}+￥{{pageData.orderDetail.postFee}}运费
			</div>
			<div class="colorYellow txtCenter font18 mBottom40">
				实付：￥{{pageData.orderDetail.totalAmount + pageData.orderDetail.postFee}}
			</div>
		</div>
	</ion-content>
</ion-view> 
