<ion-view view-title="我的订单">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="pageFunc.refreshServer()">
    同步
    </button>
  </ion-nav-buttons>

  <ion-side-menus enable-menu-with-back-views-"true">
    <!-- Center content -->
    <ion-side-menu-content class="paddingtop88">

      <div class="bar bar-subheader">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <button class="button button-icon font14 mRight5" menu-toggle="right" ng-click="popover.show($event)">{{pageData.currOrderStatus.name}}<i class="iconfont icon-xiangxia font14 mLeft2"></i></button>
      </div>
      <ion-content class="paddingtop44">
        <ion-refresher
        pulling-text="下拉更新..."
        on-refresh="pageFunc.refreshOrderList()">
        </ion-refresher>

        <ion-list class="warpOrderList">
          <ion-item
            class="item-avatar item-icon-right orderItem" 
            ng-repeat="item in pageData.orderList"
            ng-click="pageFunc.showOrderDetail(item)"
            ng-href="javascripe:;"
          >
            <img ng-src="{{item.picUrl}}" class="avatar">
            <p class="orderIdAndStatus">{{ item.statusName + '&nbsp;&nbsp;' + item.orderNumber}}</p>
            <h2 class="lbTitle">{{item.title}}</h2>
            <p>
              <span class="">￥{{item.totalAmount}}</span><span class="lbOrderCount">{{item.orderCount}}件</span>
              <div class="Clear"></div>
            </p>
          </ion-item>
          <div class="warpNoData" ng-if="pageData.orderList.length == 0"><i class="iconfont icon-logo"></i>暂无订单</div>
        </ion-list>

      <ion-infinite-scroll
        ng-if="pageData.isHaveMoreData"
        icon="ion-loading-c"
        on-infinite="pageFunc.loadMoreData()"
        distance="20%"
        spinner="ios"
        >
      </ion-infinite-scroll>

      </ion-content>

    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left"  class="paddingtop44 warpShopMenu" width="140">
      <ion-content>
        <ion-list ng-repeat="item in pageData.shopList">
          <ion-item menu-close  ng-class="{selectItem: item.checked}" ng-click="pageFunc.loadDataByShop(item)">
           <img src="{{item.img}}">
            {{item.shopName}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>

</ion-view>

<script id="pageTplorderStatusfilterPopover" type="text/ng-template">
  <ion-popover-view class="warpOrderStatusList">
      <ion-content>
        <div>
          <a class="item" ng-repeat="item in pageFunc.showOrderStatusList()" ng-click="pageFunc.loadDataByStatusFilter(item)">
            {{item.name}}
          </a>
        </div>
      </ion-content>
  </ion-popover-view>
</script>
