<div>

<div 
ng-repeat="img in editShowData.mainData.pages[editShowData.currentpage].detailPageImage"
style="background-image:url({{img.img}});"
class="ps_img ps_img{{$index+1}}"
ng-click="setimg($index)">
	<input type="hidden"  ng-model="img.img">
</div>

<input type="file" accept="image/*" class="checkimg"  id="fileImg">
<canvas id="imgcanvas" class="imgcanvas"></canvas>

<!-- <div class="checkimgbox">
	<canvas id="maincanvas"></canvas>
	<input type="file" id="fileImg" style="vissible">
	<div class="button leftbtn">取消</div>
	<div class="button rightbtn">确定</div>
</div> -->


<div 
ng-repeat="text in editShowData.mainData.pages[editShowData.currentpage].detailPageText"
class="ps_text ps_text{{$index+1}}">
	<input type="text" ng-model="text.txt">
</div>

</div>