<div>

<!-- style="background-image:url({{img.img}});" -->
<div on-finish-temp-img
ng-repeat="img in showdata.mainData.pages[showdata.currentpage].detailPageImage"
class="ps_img ps_img{{$index+1}}"
ng-init="imgviewinfo[$index]={}"
ng-click="setimg($index)">
	<img ng-src="{{img.img}}" class="innerimg" alt="" crossorigin="anonymous">
	<input type="hidden"  ng-model="img.img">
</div>

<input type="file" accept="image/*" class="checkimg"  id="fileImg" >
<canvas id="imgcanvas" class="imgcanvas"></canvas>

<!-- <div class="checkimgbox">
	<canvas id="maincanvas"></canvas>
	<input type="file" id="fileImg" style="vissible">
	<div class="button leftbtn">取消</div>
	<div class="button rightbtn">确定</div>
</div> -->


<div 
ng-repeat="text in showdata.mainData.pages[showdata.currentpage].detailPageText"
class="ps_text ps_text{{$index+1}}">
	<input type="text" ng-model="text.txt">
</div>

</div>