<ion-view view-title="找回密码" class="getmypw">
	<ion-content>
		<ion-list>
		<form name="getmypw">
			<div class="textinput">
				<input type="tel" class="text" placeholder="手机号码"  ng-model="maindata.phone" name="phone"
				required
				ng-pattern="/^0?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/" >
			</div>
			<div class="error-tip">
				<div class="triangle"></div>
				<div class="rect"></div>
			</div>

			<div class="textinput">
				<input type="number" class="text halftext" placeholder="验证码" ng-model="maindata.code1" name="code"
				pattern="[0-9]{6}"
				required
				ng-pattern="/^[0-9]{6}$/">
				<span class="getnumbutton gray" ng-if="maindata.codetime!='' || getmypw.phone.$invalid">获取验证码{{maindata.codetime}}</span>
				<span class="getnumbutton" ng-if="maindata.codetime=='' && !getmypw.phone.$invalid" ng-click="getcodeSubmit()">获取验证码</span>
			</div>
			<div class="error-tip">
				<div class="triangle"></div>
				<div class="rect"></div>
			</div>


			<div class="textinput">
				<span class="button button-block button-stable" ng-if="getmypw.code.$invalid || getmypw.phone.$invalid">确定</span>
				<span class="button button-block button-energized" ng-if="!getmypw.code.$invalid && !getmypw.phone.$invalid" ng-click="getpwSubmit()">确定</span>
			</div>
		</form>
		</ion-list>
	</ion-content>
</ion-view>

