<ion-view view-title="第一步:选择宝贝" class="sbm_products taoxiaopubox">

    <ion-content>
        <a href="https://oauth.taobao.com/authorize?response_type=code&client_id=23127514&redirect_uri=http://baobeixiu.play.admin.jaeapp.com/bbxShopNameIsExists&view=wap&state=app" class="bigbutton">我已使用过宝贝秀</a>
        <p class="textbar">若您已经在<span>淘宝服务市场导购过</span>宝贝秀请点击上面按钮授权，我们将为您同步淘宝店铺宝贝及您制作过的宝贝秀</p>
        <div ui-sref="shops" class="bigbutton">我要授权新店铺</div>
        <p class="textbar">若您是<span>第一次使用宝贝秀</span>,请点击上面的按钮来授权您的店铺数据</p>
    </ion-content>

</ion-view>