<!DOCTYPE html>
<html ng-app="SBMPS">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="white">
    <meta name="format-detection" content="telephone=no">
    
    <link href="css/ps.css?v=0.0.3" ver='0.0.3' rel="stylesheet">

    <script src="lib/zepto/zepto.min.js"></script>
    <!--<script src="cordova.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-touch/angular-touch.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>-->
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>


    <script src="js/ps/app.js?v=0.0.3"></script>

  </head>
  <body ng-controller="spCtrl">
  




<!--   ng-class="{
  current: $index==show.current, 
  next: $index==show.current+1, 
  prev: $index==show.current-1}"  -->
  <div id="mainbox">  
    <div 
    class="
    ps_page 
    tmp{{page.templatePageId}}"
    ng-click="hidePagemaStanda()"
    ng-repeat="page in showdata.pages">
          <span 
          class="
          ps_img
          ps_img{{$index+1}}"
          ng-repeat="img in page.detailPageImage track by $index" 
          style="background-image:url({{img.img}})"></span>

          <span 
          class="ps_text ps_text{{$index+1}}" 
          ng-repeat="text in page.detailPageText track by $index">{{text.txt}}</span>
    </div>  
  </div>







  <div three-points></div>


  <!-- {{show.pages}} -->

  <!-- <input type="text" ng-model="show.current" class="verytop"> -->
    <!-- <show-box></show-box> -->
  </body>
</html>
