#mainbox{
	position: absolute;
	top:0px;
	left: 0px;
	.square(100%);
	background-color: #ccc;
	overflow: hidden;
	font-size: 8px;
}
.showmainbox{
	display: none;
}
//通用样式
.backgroundpic{
	.square(100%);
	position: absolute;
	background-size:auto 100%;
	background-position: center;
	z-index: -1;
}
//没有接口的分享页面
.shareimg{
	.square(0px);
	position: absolute;
	z-index: -99;
	top:-1px;
	left: -1px;
}

//图片文字上下居中
.centerpic{
	.square(100px);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	background-size:100%;
}
.centertext{
	.size(100%,20px);
	position: absolute;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	background-size:100%;
	font-weight: normal;
	color: #fff;
	z-index: 1;
}

//页面外框样式
.ps_page{
	.square(100%);
	overflow: hidden;
	position: absolute;

	.ps_img{
		opacity: 0;
	}

	.ps_text{
		opacity: 0;
	}

}

//参数showpagema  规格showstanda
.showpagema,.showstanda{
	.size(100%,40vh);
	position: absolute;
	top:0px;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 2;
	color: #333;
	box-sizing: border-box;
	-webkit-transition:0.5s ease-out;
	-webkit-transform:translate3d(0,-100%,0);
	opacity: 0;
}

.showpagema{
	font-size: 16px;
	line-height: 5vh;
	overflow-y: hidden;
	.pagemaitem{
		width: 100%;
		display: block;
		.clearfix();
		.pagemaname{
			width: 25%;
			text-align: center;
			float: left;
			.ellipsis();
		}
		.maohao{
			width: 2%;
			float: left;
		}
		.pagemainfo{
			width: 73%;
			text-align: left;
			float: right;
		}
	}
}

.showstanda{
	width: 100%;
	display: block;
	float: left;
	padding-top: 7vh;
	text-align: center;
	.textbox{
		color: #ccc;
		position: absolute;
		top: 0px;
		height: 7vh;
		font-size: 20px;
		box-sizing: border-box;
		border-bottom: 1px solid #ccc;		
		.text{
			max-width: 100px;
			line-height: 7vh;
			overflow-x: hidden;
			display: block;
			margin: 0 auto;
		}
	}
	.currenttopbar{
		.text{
			color:rgba(254, 153, 0, 1);
			border-bottom:2px solid rgba(254, 153, 0, 1);
		}
	}
	.standabox{
		width: 100%;
		height: 33vh;
		float: left;
		box-sizing:border-box;
		display: none;
		overflow: hidden;
		.standaitem{
			color:rgba(254, 153, 0, 1);
			display: block;
			float: left;
			height: 30px;
			line-height: 30px;
			width: 50%;
		}
		.scroll{
			.ellipsis();
		}
	}
	.standaboxshow{
		display: block;
	}

}

.pagema_standa_show{
	opacity: 1;
	-webkit-transform:translate3d(0,0,0);
}



//页面最下方的  向上滑动小提示
.tapuptip{
	.size(100%,5vh);
	color:#fff;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 1%;
	background-image: url(../img/tapuptip.png);
	z-index: 3;
	background-size:auto 90%;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
}

//购买提示
.screenforbiden{
	.square(100%);
	position: absolute;
	top:0px;
	left: 0px;
	background-color:rgba(0, 0, 0, 0.5);
	display: none;
	z-index: 999;
	background-image: url(../img/azgobuy.png);
	background-position: right 2%;
	background-size: 90%;
	background-repeat: no-repeat;
}

//中间那几个小圈圈
.pagemainbtn{
	&:extend(.centerpic);
	z-index: 1;
	width:100%;
	height:20vw;
	bottom:-72%;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-out;
	text-align: center;
	// background-color: rgba(255, 255, 255, 0.1);
	.centerround{
		.square(20vw);
		border-radius: 20vw;
		position: relative;
		display: inline-block;
		line-height: 20vw;
		text-align: center;
		font-size: 20px;
		margin:0 3vw;
		span{
			border-radius: 20vw;
			position: absolute;
			left: 0px;
			top:0px;
			height: 100%;
			width: 100%;	
			background-color: rgba(0, 0, 0, 0.3);
			border: 1px solid rgba(255, 255, 255, 0.9);
			color:#fff;
		}
		.buybtn{
			background-color: rgba(254, 153, 0, 0.7);
			border-color: rgba(254, 153, 0, 1);
			color:#fff;
		}
	}
	.current{
		.parmabtn,.standabtn{
			background-color: rgba(255, 255, 255, 0.9);
			border-color: rgba(255, 255, 255, 1);
			color:#666;
		}
	}
}
.pagemainbtnhide{
	display: none;
}
.pagemainbtnshow{
	-webkit-transition: opacity 1.5s ease-in;
	opacity: 1;
}



//iPhone4兼容
.rotation{
	.ps_img{
		background-size:100% auto;
	}
}

//未开始不显示
.beforestart{
	opacity: 0;
}


.noshowdata {
	.square(100%);
	position: absolute;
	display: none;
	top:0px;
	left: 0px;
	z-index: 99;
	background-image: url(../img/noshowdata.jpg);
	background-repeat: no-repeat;
	background-position: center 10%;
	background-color: #fff;
	background-size: 100%;
	.button{
		margin:350px auto 0;
		background: #ff9501;
		height: 28px;
		line-height: 28px;
		width:130px;
		text-align: center;
		border-radius: 5px;
		color:#fff;
	}

}
.shownoshowdata{
	display: block;
}