//模板1
.tmp1, .tmp2, .tmp3, .tmp4, .tmp6, .tmp8 {
	.ps_img1 {
		&:extend(.backgroundpic);
		opacity: 1;
		z-index: 1;
	}
}
.webkitBoxCenter {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}
.tmpPsText1{
	padding: 8px 13px 8px 12px;
	background-color: rgba(0, 0, 0, .5);
	//opacity: 1;
	position: absolute;
	color: #BABABA;
	z-index: 2;
}
.tmp0 {
	.ps_text {
		&:extend(.centertext);
	}
	.ps_img1 {
		&:extend(.backgroundpic);
		z-index: 0;
	}
	.ps_img2 {
		&:extend(.centerpic);
		.square(100px);
		top: -40%;
		z-index: 2;
	}
	.ps_img3 {
		&:extend(.backgroundpic);
		z-index: 1;
		opacity: 1;
	}
	.ps_text1 {
		&:extend(.centerpic);
		.size(100%, 20px);
		text-align: center;
		font-size: 20px;
		color: #fff;
		text-shadow: 0 0 5px rgba(255, 255, 200, 0.8);
		z-index: 2;
	}
}
.tmp1 {
	.ps_img1 {
		opacity: 0;
	}
}
.tmp2 {
	.ps_text {
		&:extend(.centertext);
	}
	.ps_img1{
		z-index: 0;
	}
	.ps_text1 {
		position: absolute;
		font-size: 24px;
		bottom: 52%;
	}
	.ps_text2 {
		position: absolute;
		font-size: 24px;
		bottom: 40%;
	}
	.ps_text3 {
		.size(100%, 15%);
		.webkitBoxCenter();
		bottom: -30%;
		font-size: 24px;
		background-color: rgba(0, 0, 0, 0.5);
	}
	//背景遮罩
	.ps_text4 {
		.square(100%);
		opacity: 1;
		z-index: 0;
		background-color: rgba(0, 0, 0, 0.3);
	}
}

.lineandheight(@a){
	height: @a;
	line-height: @a;
}

.tmp3 {
	.ps_text {
		.tmpPsText1();
	}
	.ps_text1 {
		// .lineandheight(7vh);
		line-height: 7vh;
		font-size: 24px;
		bottom: 35%;
	}
	.ps_text2 {
		line-height: 4vh;
		font-size: 16px;
		bottom: 23%;
	}
}
.tmp4 {
	.ps_text {
		.tmpPsText1();
	}
	.ps_text1 {
		line-height: 7vh;
		// .lineandheight(7vh);
		font-size: 24px;
		bottom: 45%;
	}
	.ps_text2 {
		// height: 8vh;
		line-height: 4vh;
		font-size: 16px;
		bottom: 33%;
	}
}
.tmp5 {

	.ps_text {
		// opacity: 1;
		margin:auto;
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 5%;
		line-height: 5vh;
		text-align: center;
		color: #BABABA;
	}
	.ps_text1 {
		font-size: 24px;
		top: 3%;
	}
	.ps_text2 {
		font-size: 16px;
		top: 10%;
	}
	.ps_img{
		margin: auto;
		position: absolute;
		background-size:100% auto;
		background-repeat: no-repeat;
		background-position:top center;
	}
	.ps_img1 {
		left: 0;
		right: 0;
		top:18%;
		width:94%;
		height:35%;
	}
	.ps_img2 {
		left: 3%;
		top:55%;
		width:45%;
		height:40%;
	}
	.ps_img3{
		right: 3%;
		top:55%;
		width:45%;
		height:40%;
	}

}

.tmp6 {
	.ps_text {
		.tmpPsText1();
	}
	.ps_text1 {
		line-height: 7vh;
		// .lineandheight(7vh);
		font-size: 24px;
		bottom: 22%;
	}
	.ps_text2 {
		// height: 8vh;
		line-height: 4vh;
		font-size: 16px;
		bottom: 10%;
	}
}

.tmp7 {
	background-color: #202020;
	.ps_img{
		position: absolute;
		background-size:100% auto;
		background-repeat: no-repeat;
		margin: auto;
		width:94%;
		height:31%;
		left:3%;
	}
	.ps_img1 {
		top:2%;
	}
	.ps_img2 {
		top:35%;
	}
	.ps_img3{
		top:68%;
	}

}
