<ion-view view-title="第一步:选择宝贝">
  <ion-content>
    <ion-list>
      
      <ion-item class="item-remove-animate item-avatar item-icon-right"  type="item-text-wrap" >
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="hrefGo('http://uedlink.com')">
          制作详情
        </ion-option-button>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>