<ion-view view-title="我的宝贝" class="sbm_products warpProductList">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="show()">
    同步
    </button>
  </ion-nav-buttons>

  <ion-side-menus enable-menu-with-back-views-"true">
    <!-- Center content -->
    <ion-side-menu-content class="paddingtop88">

      <div class="bar bar-subheader">
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <div class="checkbtn">
          <div class="button-bar">
            <a class="button" ng-class="{'button-energized': pageData.isOnsaleStatus}" ng-click="pageFunc.loadDataByStatus('onsale')">上架中</a>
            <a class="button" ng-class="{'button-energized': !pageData.isOnsaleStatus}"  ng-click="pageFunc.loadDataByStatus('instock')">已下架</a>
          </div>
        </div>
      </div>
      <ion-content class="paddingtop44">
        <ion-refresher
        pulling-text="下拉更新..."
        on-refresh="pageFunc.refreshproductList()">
        </ion-refresher>

        <ion-list>
          <ion-item
          class="item-remove-animate item-avatar item-icon-right animate-repeat"  
          type="item-text-wrap"
          collection-repeat="item in pageData.productList"
          ng-href="javascripe:;"
          ng-click="pageFunc.showDetail(item)"
          >
            <img ng-src="{{item.picUrl}}" class="imgProduct">
            <ul class="productInfo">
              <li class="floatL">
                <h2 class="mTop6 mBottom9">{{item.title}}</h2>
                <p class="colorYellow">￥{{item.price}}</p>
              </li>
              <li class="floatL">
                <p><img ng-src="{{item.picPlatUrl}}" class="imgPlat"></p>
                <p>{{item.num}}件</p>
              </li>
            </ul>
            <div class="Clear"></div>
            
            <i class="iconfont icon-points"></i>
            <span class="xiang" ng-if="item.hasDetail != '0'">祥</span>

            <ion-option-button class="button-dark" ng-click="hrefGo('http://uedlink.com')">
              制作详情
            </ion-option-button>
          </ion-item>
          <div class="warpNoData" ng-if="pageData.productList.length == 0"><i class="iconfont icon-logo"></i>该店铺没有上架的宝贝</div>
        </ion-list>

      <ion-infinite-scroll
        ng-if="pageData.isHaveMoreData"
        icon="ion-loading-c"
        on-infinite="pageFunc.loadMoreData()"
        distance="20%"
        spinner="ios"
        >
      </ion-infinite-scroll>
      </ion-content>

    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left"  class="paddingtop44 warpShopMenu" width="100">
      <ion-content>
        <ion-list ng-repeat="item in pageData.shopList">
          <ion-item menu-close  ng-class="{selectItem: item.checked}" ng-click="pageFunc.loadDataByShop(item)">
            {{item.shopName}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-side-menu>

  </ion-side-menus>


</ion-view>

