<ion-view view-title="宝贝详情">
	<ion-content class="warpProductDetail"  ng-show="pageData.isPageShow">
		<div class="wcontainer">
			<div class="sliders" id="sliders">
				<a href="http://www.baidu.com" class="sliderlist" ng-repeat="item in pageData.orderDetail.picArr">
					<img ng-src="{{item}}" alt="">
				</a>
			</div>
		</div>

		<!-- </div> -->
		<div class="productInfo">
			<div class="title">{{pageData.orderDetail.title}}</div>
			<div class="price">￥{{pageData.orderDetail.price}}</div>
			<div ng-repeat="(key,val) in pageData.orderDetail.salesProperty">
				<span class="colorGrey_9">{{key}}：</span><span>{{val.join('、')}}</span>
			</div>
			<div>
				<sapn class="colorGrey_9">库存：</sapn><span>{{pageData.orderDetail.num}}件</span>
			</div>
			<div>
				<sapn class="colorGrey_9">运费：</sapn><span>￥{{pageData.orderDetail.postFee}}</span>
			</div>
		</div>
		<div class="detailList">
			<div class="subTitle borderTop borderBottom">
				宝贝秀
			</div>
			<ion-list can-swipe="true">
			 	<ion-item ng-repeat="item in pageData.orderDetail.appDetailCounts" ui-sref="viewshow({showId:item.detailId})">
					<ul>
						<li>
							<img src="{{item.detailImg}}">
						</li>
						<li>
							<div>
								<span>{{item.detailName}}</span>
								<span class="floatR colorGrey_9">2015-1-1</span>
							</div>
							<div>
								<span class="colorGrey_9">
									<i class="iconfont icon-wodexiangqingyanjing"></i>
									{{item.browse}}
								</span>
								<span class="colorGrey_9">
									<i class="iconfont icon-wodexiangqingfenxianghei"></i>
									{{item.share}}
								</span>
								<span  class="colorGrey_9">
									<i class="iconfont icon-store1"></i>
									{{item.dd}}
								</span>
							</div>
						</li>
					</ul>
					<div class="Clear"></div>
					<!-- <ion-option-button class="button-dark" ng-click="hrefGo('http://uedlink.com')">
		              制作宝贝秀
		            </ion-option-button> -->
	                <ion-option-button class="button-dark" ng-click="edit(item.detailId)">
            		<span class="text">编辑</span>
        		    </ion-option-button>
		            <ion-option-button class="button-dark" ng-click="">
		                <span class="text">分享</span>
		            </ion-option-button>
		            <ion-option-button class="button-dark" ng-click="dele(item.detailId)">
		                <span class="text">删除</span>
		            </ion-option-button>
		            <ion-option-button class="button-dark" ui-sref="liuliang({showId:item.detailId})">
		                <span class="text">流量</span>
		            </ion-option-button>

		            <i class="iconfont icon-points"></i>
				</ion-item>
			</ion-list>
			<div ng-if="pageData.orderDetail.appDetailCounts.length == 0" class="detailListEmpty">
				<span>尚未制作宝贝秀</span>				
				<button class="button button-energized button-small" ui-sref="checktemplate({productId:pageData.currSelectOrder.numIid,productPlat:pageData.currSelectOrder.plat})">
				  立即制作
				</button>
			</div>
		</div>
		
	</ion-content>
</ion-view>